header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: inherit;
  border-bottom: 2px solid blue;
}

h2 {
  margin: 0;
}

.header-left {
  display: flex;
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
}

.header-right {
  display: flex;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 22px;
}

canvas {
  border: 15px solid blue;
  background-color: black;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/270598716229795053/6A21D0150328351028A4C27D083221453D76C5A4/");
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: inherit;
  margin-top: 120px;
  margin-bottom: 200px;
  background-color: inherit;
  color: white;
}
