header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: inherit;
  border-bottom: 2px solid blue;
}

h2 {
  margin: 0;
}

.header-left {
  display: flex;
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
}

.header-right {
  display: flex;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 22px;
}

canvas {
  border: 15px solid blue;
  background-color: black;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png");
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: inherit;
  margin-top: 30px;
  margin-bottom: 200px;
  background-color: inherit;
  color: white;
}

.main-body {
  margin-top: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 16px;
}
