header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: inherit;
  border-bottom: 2px solid blue;
}

h2 {
  margin: 0;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron/Orbitron-Regular.ttf') format("truetype");
}

.game-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 44px;
}

.header-left {
  display: flex;
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
}

.header-right {
  display: flex;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 22px;
}

canvas {
  /*position: absolute;*/
  border-right: 12px solid blue;
  border-left: 12px solid blue;
  border-top: 12px ridge orange;
  border-bottom: 12px ridge orange;
  background-color: black;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png");
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: inherit;
  margin-top: 30px;
  margin-bottom: 200px;
  background-color: inherit;
  color: white;
}

.main-body {
  margin-top: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 16px;
}

.instructions {
  line-height: 1.5;
}

#mute-button:hover {
  color: aqua;
  border: 1px solid aqua;
}

button {
  padding: 6px;
  background: transparent;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
}

label {
  font-size: 19px;
  color: orange;
  text-decoration: underline;
}
